/* Global Variables */
:root {
  --main-primary-color:#ff0004;   /* Red */
  --main-secondary-color:#222222; /* Black */
  --main-third-color:#e2e2e2;     /* Grey */
  --main-fourth-color:#1a0000;    /* Slate */
}

/* == Global Reset == */
body, h1, h2, h3, p, form, ul, header, footer {
  margin:0px;
  padding:0px;
}
/* == Global Body == */
body {
  font-family:'K2D', Helvetica, sans-serif;
  background-color:var(--main-fourth-color);
}

.custom-container {
  width:90%;
  margin:auto;
  overflow:hidden;
}
.uploaded-image{
  max-width:250px;
  max-height:250px;
}
.comments{
  color:white;
}
/* ========================================================================== */
/* Header */

header {
  position:fixed;
  top:0px;
  color:var(--main-third-color);
  background-color:black;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  min-height:0px;
  width: 100%;
  overflow-y:auto;
  z-index:1;
  border-bottom:1px solid var(--main-primary-color);
}

header #custom-branding {
  float:left;
}

header ul {
  float: right;
  list-style:none;
}

ul .li-right {
  float:left;
  display:inline;
  padding:0px 0px 0px 0px;
}

header a {
  font-size: 13px;
  font-weight:bold;
  display:block;
  text-decoration:none;
  text-align:center;
  padding: 20px 20px 20px 20px;
  color:var(--main-primary-color);
}

header a:hover {
  background:var(--main-primary-color);
  color:black;
}
.upload-container{
  color:white;
  font-size:13;
  position:fixed;
  bottom:0;
}
#upload{
  height:200px;
  font-size:14pt;
}
.feed{
  margin-left:25%;
  margin-top:5%;
}
.comment-test{
  margin-bottom:40%;
}
